<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>257896987921-k9u8rb818sdr1412jdhpmjtks1ahhc6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257896987921-k9u8rb818sdr1412jdhpmjtks1ahhc6o</string>
	<key>API_KEY</key>
	<string>AIzaSyCeemh3tDKRDLyMlgIo7VecKxSk_bdaOhs</string>
	<key>GCM_SENDER_ID</key>
	<string>257896987921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChrisMJSong.SwiftSample</string>
	<key>PROJECT_ID</key>
	<string>ios-sample-7c948</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-sample-7c948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257896987921:ios:1806ab8abe2838ef</string>
	<key>DATABASE_URL</key>
	<string>https://ios-sample-7c948.firebaseio.com</string>
</dict>
</plist>